@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "微軟正黑體";
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
}

main {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  font-family: "微軟正黑體";
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px;
}

select, input {
  font-family: "微軟正黑體";
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
}

html {
  width: 100%;
  height: 100%;
  background: #00012a;
}
html body {
  width: 100%;
  min-width: 1200px;
  height: 100%;
  overflow: hidden;
}
html body main {
  width: 100%;
  height: 100%;
}
html body main article {
  width: 1100px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
}
html body main article section {
  width: 50%;
  height: 100%;
  position: relative;
}
html body main article section.left .logo {
  width: 423px;
  height: 143px;
  background: url("../images/logo.png") no-repeat;
  background-size: 100%;
  position: absolute;
  left: 95px;
  top: 32px;
  z-index: 10;
}
html body main article section.left .inputbox {
  width: auto;
  height: auto;
  position: absolute;
  top: 204px;
  left: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 10;
}
html body main article section.left .inputbox .box {
  width: auto;
  height: auto;
}
html body main article section.left .inputbox .box label {
  display: block;
  width: auto;
  height: auto;
  position: relative;
  margin-bottom: 31px;
}
html body main article section.left .inputbox .box label:last-child {
  margin-bottom: 24px;
}
html body main article section.left .inputbox .box label:last-child input {
  -webkit-transform: translateX(-7px);
          transform: translateX(-7px);
}
html body main article section.left .inputbox .box label::before {
  content: "";
  width: 25px;
  height: 25px;
  background: url("../images/input_ic.png") no-repeat;
  background-size: 200%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5px;
}
html body main article section.left .inputbox .box label.pass::before {
  background-position-x: 100%;
}
html body main article section.left .inputbox .box label input {
  width: 360px;
  height: 46px;
  background: none;
  border: none;
  border-bottom: solid 2px #ffffff;
  color: #ffffff;
  font-size: 18px;
  padding-left: 45px;
}
html body main article section.left .inputbox .box label input::-webkit-input-placeholder {
  color: #ffffff;
}
html body main article section.left .inputbox .box label input::-moz-placeholder {
  color: #ffffff;
}
html body main article section.left .inputbox .box label input:-ms-input-placeholder {
  color: #ffffff;
}
html body main article section.left .inputbox .box label input::-ms-input-placeholder {
  color: #ffffff;
}
html body main article section.left .inputbox .box label input::placeholder {
  color: #ffffff;
}
html body main article section.left .inputbox button {
  width: 172px;
  height: 55px;
  background: url("../images/btn.png") no-repeat;
  background-size: 100%;
  color: #100700;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-right: 15px;
}
html body main article section.left .inputbox button:hover, html body main article section.left .inputbox button:active, html body main article section.left .inputbox button.active {
  background-position-y: 100%;
  color: #ffffff;
}
html body main article section.right .img1 {
  width: 925px;
  height: 898px;
  background: url("../images/img1.png") no-repeat;
  background-size: 100%;
  position: absolute;
  right: -191px;
  top: 17px;
  -webkit-animation: img1 0.3s ease-out 0s;
          animation: img1 0.3s ease-out 0s;
  z-index: 1;
}
html body main article section.right .img2 {
  width: 713px;
  height: 899px;
  background: url("../images/img2.png") no-repeat;
  background-size: 100%;
  position: absolute;
  right: -62px;
  top: 57px;
  -webkit-animation: lag 0.5s linear 0s, img3 0.5s ease-out 0.5s;
          animation: lag 0.5s linear 0s, img3 0.5s ease-out 0.5s;
  z-index: 2;
}
html body main article section.right .img3 {
  width: 584px;
  height: 742px;
  background: url("../images/img3.png") no-repeat;
  background-size: 100%;
  position: absolute;
  right: 22px;
  top: 149px;
  -webkit-animation: lag 0.3s linear 0s, img2 0.5s ease-out 0.3s;
          animation: lag 0.3s linear 0s, img2 0.5s ease-out 0.3s;
  z-index: 3;
}
html body .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1200px;
  height: 100%;
  background: url("../images/bg.jpg") no-repeat top center;
  z-index: -999;
}

@-webkit-keyframes img1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes img1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes img2 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(720deg);
            transform: scale(0) rotate(720deg);
  }
  70% {
    -webkit-transform: scale(1.2) rotate(0deg);
            transform: scale(1.2) rotate(0deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes img2 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(720deg);
            transform: scale(0) rotate(720deg);
  }
  70% {
    -webkit-transform: scale(1.2) rotate(0deg);
            transform: scale(1.2) rotate(0deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes img3 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  70% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes img3 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  70% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes lag {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes lag {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}